.container{
    text-align: center;
    width: 80%;
    margin: 30px auto;
}
.dice{

    display: inline-block;
    text-align: center;
}

body{
    background-color: red;
}

h1{
    font-size: 20px;
    text-shadow: 5px 0 black;
    color: white;
}

p{
    color: white;
    text-shadow: 5px 0 black;
}

img {
    width: 80%;
}