*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(image/portfolio_bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Playfair Display', serif;
    font-weight: 400px;
    position: relative;
    height: 10vh;
    color: white;
}

.p1::after {
    content: "";
    display: table;
    clear: both;
    }

.wrapper{
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: 0px 10px 50px;
    overflow: hidden;
    height: 400px;
}

.play, .play2{
    float: left;
    width: 50%;
    height: 60px;
    padding: 100px;
    color: blanchedalmond;
}


.name1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: 100px;
    margin-bottom: 100px;
    position: relative;
    margin-top: 10;
}

.box{
  background-color: red;
  color: white;
  width: 40%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

button{
    position: absolute;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600px;


}

.new{
    top:45px;
}

.roll{
    top:500px;
}

.hold{
    top: 20px;
}

.dice1 {
    top: 500px;
    width: 120px;
}
.dice2{
    top: 250px;
    width: 120px;
}
.final{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    color: red;
    text-align: center;
    text-transform: uppercase;
}
